{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">LADIO</a></h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content_title %}<h1>비밀번호 찾기</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "새로운 비밀번호를 설정해주세요." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans "새로운 비밀번호 " %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans "한번 더 입력  " %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans '제출하기' %}" /></p>
</form>

{% else %}

<p>{% trans "이미 만료된 패스워드 재설정 페이지입니다. 다시 패스워드 재설정 요청을 해주세요!" %}</p>

{% endif %}

{% endblock %}
